<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <!-- Text to search for within open XL files to determine if file contain iClicker data -->
        <add key="EmbeddediClickerNm" value="iClicker"/>
    
        <!-- DataSet info -->
            <!-- Column positions in iClicker files (1-based) -->
                <add key="ColNoEmailXL" value="1"/>
                <add key="ColNoStdntNmXL" value="2"/>
                <!-- NOTE:  Col 3 = total quiz, which we are ignoring -->
                <add key="NmbrRowLblCols" value="3"/>
            <!-- DataTable column headings -->
                <add key="ColID" value="ID"/>
                <add key="ColEmail" value="Email"/>
                <add key="ColLN" value="LNm"/>
                <add key="ColFN" value="FNm"/>
    
        <!--  This Wbk quiz data listobject info -->
            <add key="QuizDataXLTblHdrEml" value="Student ID"/>
            <add key="QuizDataXLTblHdrLNm" value="Last Name"/>
            <add key="QuizDataXLTblHdrFNm" value="First Name"/>
            <add key="QuizDataXLTblHdrTtlPts" value="Semester TOTAL"/>
            <add key="NmbrNonScoreCols" value="4"/>
    </appSettings>
</configuration>