<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <!-- Text to search for within open XL files to determine if file contain iClicker data -->
        <add key="EmbeddediClickerNm" value="iClicker"/>
    
        <!-- DataSet info -->
            <!-- Column positions in iClicker files (1-based) -->
                <add key="ColNoEmailXL" value="1"/>
                <add key="ColNoStdntNmXL" value="2"/>
                <!-- NOTE:  Col 3 = total quiz, which we are ignoring -->
                <add key="ColNoDataBeginsXL" value="4"/>
            <!-- DataTable column headings -->
                <add key="ColID" value="ID"/>
                <add key="ColEmail" value="Email"/>
                <add key="ColLN" value="LNm"/>
                <add key="ColFN" value="FNm"/>
            <!-- Misc DataTbl info -->
                <add key="NmbrNonScoreCols" value="4"/>
        
        
        
        <!-- MsgBox prompts -->
            <!-- Checking if already-open wbk is the wbk from which to import iClicker data-->
            <add key ="qstnDataWbkAlreadyOpen1" 
                 value="The following workbook is currently open in Excel:"/>
            <add key ="qstnDataWbkAlreadyOpen2" 
                 value="Is this the workbook which contains the data you want to import?"/>
            <add key ="qstnDataWbkAlreadyOpenCptn"
                 value="Is This Your Data File?"/>
            <!-- When there are no new quiz dates to import -->
            <add key="msgNoNewDtsToImport1" 
                 value="It appears that all of the quizzes in the following file:"/>
            <add key="msgNoNewDtsToImport2" 
                 value="have already been imported."/>
            <add key="msgNoNewDtsToImportCptn" 
                 value="Quiz Data Already Imported"/>

    
    </appSettings>
</configuration>